{% extends 'admin/base_admin.html.twig' %}

{% block title %}New TvShow{% endblock %}

{% block body %}
    <h1>Create new TvShow</h1>

    {{ include('admin/tv_show/_form.html.twig') }}

    <a href="{{ path('admin_tv_show_index') }}">back to list</a>
{% endblock %}
